.bg-overlay {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('https://cdn.pixabay.com/photo/2014/03/28/00/18/car-299772_1280.jpg');
    background-size: cover;
    background-position: center;
  }