<nav class="px-6 py-4 mx-auto max-w-screen-xl flex justify-between items-center">
  <!-- Logo + Titre -->
  <div class="flex items-center gap-3">
    <img class="h-10 w-10" src="logo/android-chrome-192x192.png" alt="Logo Kaleocar">
    <a routerLink="/" class="text-2xl font-extrabold text-gray-800 hover:text-primary transition-colors duration-300">
      <span class="text-primary">Kaleo</span>car
    </a>
  </div>

  <!-- Bouton Déconnexion amélioré -->
  <div>
    <button (click)="onLogout()" 
      class="flex items-center gap-2 bg-gradient-to-r from-red-600 to-red-700 text-white px-5 py-2 rounded-full font-semibold shadow-lg hover:from-red-600 hover:to-red-800 transition-all duration-300">
      
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 002 2h3a2 2 0 002-2v-1m0-8V7a2 2 0 00-2-2h-3a2 2 0 00-2 2v1" />
      </svg>

      <span class="hidden sm:inline">Déconnexion</span>
    </button>
  </div>
</nav>