<!-- Si on n’est PAS sur la page de login, afficher tout le layout -->
<div *ngIf="showLayout" class="min-h-screen flex flex-col bg-gray-50">
  <!-- Navbar sticky -->
  <header class="sticky top-0 z-50 bg-white shadow-md">
    <app-navbar></app-navbar>
  </header>

  <div class="flex flex-1 overflow-hidden">
    <!-- Sidebar -->
    <ng-container> 
      <app-admin-sidebar *ngIf="currentRole === 'admin'"></app-admin-sidebar>
      <app-manager-sidebar *ngIf="currentRole === 'manager'"></app-manager-sidebar>
    </ng-container>

    <!-- Contenu principal -->
    <div class="flex-1 overflow-y-auto p-6" style="max-height: calc(100vh - 64px - 64px);">
      <router-outlet></router-outlet>
    </div>
  </div>

 
</div>

<!-- Si on est sur la page de login, afficher seulement la page -->
<div *ngIf="!showLayout">
  <router-outlet></router-outlet>
</div>
