<!-- Hero Section -->
<section class="bg-primary text-white py-16">
    <div class="container mx-auto px-6 text-center">
        <h1 class="text-4xl md:text-5xl font-bold mb-4">Liste des articles</h1>
        <p class="text-xl max-w-2xl mx-auto">Tous les articles existants.</p>
    </div>
  </section>
  
  <!-- Contact Section -->
  <section class="py-16">
    <div class="container mx-auto px-6">
      <div class="bg-white rounded-lg shadow overflow-hidden mt-6">
        <div class="p-4 border-b bg-white text-white">
          <div class="p-4 border-b flex justify-between items-center bg-primary text-white">
            <h2 class="text-lg font-semibold">
              <i class="fas fa-store mr-2"></i>Articles
            </h2>
          </div>
          
          <div class="p-4 border-b">
            <form (ngSubmit)="loadArticles(page)">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                  <div>
                      <input type="text" id="search" [(ngModel)]="searchQuery" name="searchQuery"
                             class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-black"
                             placeholder="Rechercher par libellé, marque ou OEM">
                  </div>
              </div>
              <div class="flex justify-end mt-4">
                  <button type="submit"
                          class="px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                      Rechercher
                  </button>
              </div>
          </form>
          
              
          </div>
          <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">id</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Description</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Marque 1 + Marque 2</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">oem1 + oem2</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">auto_final</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Actions</th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <!-- Boucle sur les articles -->
                <tr *ngFor="let article of articles">
                  <td class="px-6 py-4 text-sm font-medium text-gray-900">
                    <img *ngIf="article.photo" [src]="article.photo" width="150" height="150" />
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">{{ article.lib1 }}</td>
                  <td class="px-6 py-4 text-sm text-gray-500">{{ article.marque1_marque2 }}</td>
                  <td class="px-6 py-4 text-sm text-gray-500">{{ article.oem1_oem2 }}</td>
                  <td class="px-6 py-4 text-sm text-gray-500">{{ article.auto_final }}</td>
                  <td class="px-6 py-4 text-sm font-medium">
                    <button class="text-blue-600 hover:text-blue-900">Payer</button>
                    <button class="text-red-600 hover:text-red-900 ml-2">Détail</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
          <!-- Pagination -->
          <button *ngIf="page > 1" 
              class="px-4 py-2 bg-gray-800 text-white rounded-l hover:bg-gray-700 transition" 
              (click)="loadArticles(page - 1)">
              Précédent
          </button>
          <button 
              *ngIf="page < totalPages" 
              class="px-4 py-2 bg-gray-800 text-white rounded-r hover:bg-gray-700 transition" 
              (click)="loadArticles(page + 1)">
              Suivant
          </button>
        </div>
      </div>
    </div>
  </section>
  