<div>

  <div class="mb-4">
    <label>Description</label>
    <input type="text" [(ngModel)]="description" class="border px-2 py-1 w-full" />
  </div>

  <!-- Champ Marge -->
  <div class="mb-4">
    <label>Marge</label>
    <input type="number" [(ngModel)]="marge" class="border px-2 py-1 w-full" />
  </div>

  <!-- Champ Fret -->
  <div class="mb-4">
    <label>Fret</label>
    <input type="number" [(ngModel)]="fret" class="border px-2 py-1 w-full" />
  </div>

  <div class="mb-4">
    <label>Votre fichier</label>
    <input type="file" (change)="onFileSelected($event)" />
  </div>

  <button (click)="validation()">Valider</button>
</div>
  <table *ngIf="importData.length > 0" border="1" style="margin-top: 20px;">
    <thead>
      <tr>
        <th>Photo</th>
        <th>CODE_ART</th>
        <th>Marque</th>
        <th>OEM</th>
        <th>Auto Final</th>
        <th>LIB1</th>
        <th>Qte</th>
        <th>Qte Arv</th>
        <th>Prix Unit</th>
        <th>Poids Net</th>
        <th>Prix Final</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ligne of importData">
        <td>
          <img *ngIf="ligne.photo" [src]="ligne.photo" width="150" height="150" />
        </td>
        <td>{{ ligne.CODE_ART }}</td>
        <td>{{ ligne.marque }}</td>
        <td>{{ ligne.oem }}</td>
        <td>{{ ligne.auto_final }}</td>
        <td>{{ ligne.LIB1 }}</td>
        <td>{{ ligne.Qte }}</td>
        <td>{{ ligne.qte_arv }}</td>
        <td>{{ ligne.PRIX_UNIT }}</td>
        <td>{{ ligne.POIDS_NET }}</td>
        <td>{{ ligne.prix_final }}</td>
      </tr>
    </tbody>
  </table>
  